<header>
  <div class="top-sub navbar-expand-md navbar-dark bg-dark">
    <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul id="navbarCollapse" class="top-sub collapse navbar-collapse">
        <li>
          <img src="https://static.wixstatic.com/media/6e026f_a5774163d4ce4ef69e0dc7604e3c6dfc~mv2.png/v1/fill/w_92,h_18,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/nuevo%20logo%20freefire%20(1)_edited.png">
        </li>
        <li>
          <img src="https://static.wixstatic.com/media/6e026f_77b571f88583494aac2c73f0ee89a798~mv2.png/v1/fill/w_70,h_32,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Roblox-Logo%20blanco%20tranps.png">
        </li>
        <li>
          <img src="https://static.wixstatic.com/media/6e026f_6862a158c1384612adf2a92c10a6ecb1~mv2.png/v1/crop/x_0,y_131,w_1280,h_444/fill/w_98,h_34,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/fortnite-logo%20COMPRIMIDO.png">
        </li>
        <li>
          <img src="https://static.wixstatic.com/media/6e026f_d9c782da6031400da5aa9aa08edceb94~mv2.png/v1/fill/w_100,h_18,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/playstation-logo-white-01.png">
        </li>
        <li>
          <img src="https://static.wixstatic.com/media/6e026f_c21dfc436c1249109571aefe321b6e0c~mv2.png/v1/fill/w_70,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cod%20mobile%20logo_edited.png">
        </li>
        <li>
          <img src="https://static.wixstatic.com/media/6e026f_a4b163893f414789a2a170c4b0c40db6~mv2.png/v1/fill/w_76,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/riot%20games%20logo%20blanco%20(1).png">
        </li>
        <li>
          <img src="https://static.wixstatic.com/media/6e026f_5e0b4b691c61444fa2962e314743630d~mv2.png/v1/crop/x_0,y_48,w_581,h_233/fill/w_85,h_34,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/steam%20(1).png">
        </li>
        <li>
          <img src="https://static.wixstatic.com/media/6e026f_b0f1ce8a7d7f4e108900962005c4c7e2~mv2.png/v1/fill/w_50,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/blizzard-logo%20(1).png">
        </li>
        <li>
          <img src="https://static.wixstatic.com/media/6e026f_b55be4fdc8ee4b398aeec70442a61a87~mv2.png/v1/fill/w_78,h_32,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/xbox%20logo%20blanco%20transparente.png">
        </li>
      </ul>
    </div>
</header>





<main role="main">
  <div id="myCarousel" data-ride="carousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active">

      </li>
      <li data-target="#myCarousel" data-slide-to="1">

      </li>
      <li data-target="#myCarousel" data-slide-to="2">

      </li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://geco.netlify.app/assets/img/bg/breadcrumb_bg.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>RECARGA DE JUEGOS</h1>
            <p>Te brindamos la mejor experiencia, calidad y seguridad para que adquieras tus servicios digitales más populares. Todo en un sólo lugar para tu comodidad. Escríbenos será un gusto atenderte. .</p>
            <p><a href="#" class="btn btn-lg btn-primary">
              <i class="fa fa-whatsapp"> Ver PDF</i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <button type="button" data-target="#myCarousel" data-slide="prev" class="carousel-control-prev">
    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button type="button" data-target="#myCarousel" data-slide="next" class="carousel-control-next">
    <span aria-hidden="true" class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </button>
</div>
<div class="marketing">
  <div class="container 1">
    <div class="row text-white pt-5">
      <div class="col-lg-4 text-center">
        <img src="https://static.wixstatic.com/media/6e026f_16d40c329ed441b7b643f047f0e896f8~mv2.png/v1/fill/w_80,h_91,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ff_edited.png">
        <h2>Free Fire</h2>
        <p>Free Fire</p>
        <p>
          <a href="#" class="btn btn-secondary">
            <i class="fa fa-whatsapp"> ¡Contratar hoy!</i>
          </a>
        </p>
      </div>
      <div class="col-lg-4 text-center">
        <img src="https://static.wixstatic.com/media/6e026f_d866b60a24d1484f97b98b042e839a9f~mv2.png/v1/fill/w_80,h_80,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cod.png">
        <h2>CoD Mobile</h2>
        <p>CoD Mobile</p>
        <p>
          <a href="#" class="btn btn-secondary">
          <i class="fa fa-whatsapp"> ¡Contratar hoy!</i>
        </a>
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="https://static.wixstatic.com/media/6e026f_5077543c4396466ba357488387c58d70~mv2.png/v1/fill/w_106,h_69,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/lord%20mobile%20logo%20(1).png">
      <h2>Lords Mobile</h2>
      <p>Lords Mobile</p>
      <p>
        <a href="#" class="btn btn-secondary">
          <i class="fa fa-whatsapp"> ¡Contratar hoy!</i>
        </a>
      </p>
    </div>
  </div>
</div>
<hr class="featurette-divider">
<div class="container 2">
  <div class="row text-white pt-5">
    <div class="col-lg-4 text-center">
      <img src="https://static.wixstatic.com/media/6e026f_f656ab2d0d024384b6f05e49d2c5cf9a~mv2.png/v1/crop/x_134,y_0,w_265,h_185/fill/w_98,h_69,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/RECARGA%20LUDO%20CLUB%20VENEZUELA.png">
      <h2>Ludo Club</h2>
      <p>Ludo Club</p>
      <p>
        <a href="#" class="btn btn-secondary">
          <i class="fa fa-whatsapp"> ¡Contratar hoy!</i>
        </a>
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="https://static.wixstatic.com/media/6e026f_36f4d97475b140e19ff9f3334f4283b8~mv2.png/v1/crop/x_1356,y_0,w_730,h_907/fill/w_64,h_80,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Clash-Royale-logo.png">
      <h2>Clash Royale</h2>
      <p>Clash Royale</p>
      <p>
        <a href="#" class="btn btn-secondary">
          <i class="fa fa-whatsapp"> ¡Contratar hoy!</i>
        </a>
      </p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="https://static.wixstatic.com/media/6e026f_6c210678f0c64e63bdcf742ecf7cd800~mv2.png/v1/fill/w_82,h_69,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Brawl-Stars-Logo.png">
      <h2>Brawl Stars</h2>
      <p>Brawl Stars</p>
      <p>
        <a href="#" class="btn btn-secondary">
          <i class="fa fa-whatsapp"> ¡Contratar hoy!</i>
        </a>
      </p>
    </div>
  </div>
</div>
<hr class="featurette-divider">
</div>
<footer class="container text-center">
  <ul class="footer-social-link">
    <li class="fb-bg">
      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li class="in-bg">
      <a href="#">
        <i  class="fa fa-instagram"></i>
      </a>
    </li>
    <li class="gp-bg">
      <a href="#">
        <i class="fa fa-google-plus"></i>
      </a>
    </li>
  </ul>
  <p>© 2024. STCServiciosDiaz Company, Inc. ·
    <a href="#">Privacy</a> · <a href="#">Terms</a>
  </p>
</footer>

</main>
