.top-sub {
  padding: 20px;
  margin-bottom: 0;
  justify-content: center;
}
.top-sub li {
  padding: 2px 20px;
  list-style: none;
}
.marketing {
  background-image: url(https://geco.netlify.app/assets/img/bg/latest_match_bg.jpg);
  background-position: center;
  background-size: cover;
}
.footer-social-link li.fb-bg {
  background-image: url(https://themeim.com/demo/gio/index/media/footer/2.png);
}

.footer-social-link li.in-bg {
  background-image: url(https://themeim.com/demo/gio/index/media/footer/3.png);
}

.footer-social-link li.gp-bg {
  background-image: url(https://themeim.com/demo/gio/index/media/footer/5.png);
}

.footer-social-link li i {
  color: #fff;
}

.footer-social-link li {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  text-align: center;
  line-height: 44px;
  transition: all .3s ease-in-out;
}
